@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

// подсветить элемент
@mixin o1 {
  outline: 1px solid navy;
}

@mixin o2 {
  outline: 1px solid fuchsia;
}

@mixin o3 {
  outline: 1px solid mediumspringgreen;
}
