@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin light {
  outline: 1px solid blue;
}
