.btn {
  display: inline-block;
  color: $white;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s;

  &--hero {
    @include f-lato-regular;
    margin-right: 26px;
    padding: 15px 50px;
    font-size: 18px;

    &:last-of-type {
      margin-right: 0;
    }

    // black-btn
    &:nth-of-type(1) {
      background-color: rgba(0, 0, 0, 0.4);
      border: 1px solid #000;

      &:hover {
        background-color: rgba(0, 0, 0, 0.7);
      }
    }

    // white-btn
    &:nth-of-type(2) {
      background-color: rgba(255, 255, 255, 0.3);
      border: 1px solid #fff;

      &:hover {
        background-color: rgba(255, 255, 255, 0.5);
      }
    }
  }

  &--reservation {
    padding: 12px 61px;
    @include f-opensans;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    color: #fff;
    background-color: #c9a131;
    border: none;
    outline: 0;
    cursor: pointer;

    &:hover {
      background-color: darken(#c9a131, 10%);
    }
  }
}
